<!DOCTYPE html>

<html lang="en">
  
  <body>
   
  <br>
  <br>
    
    <img src="eugene.jpg" alt="Eugene" class ="left"> 
    
    <h2> Eugene Rubinchik </h2>
    
  <br>
    
    
    <h3> Welcome to my portfolio! </h3>
    
  <br>
    
    <p> Hello! My name is Eugene, and I am an  urban geographer and cartographer from the greater Atlanta area. Storytelling has always been a large part of my life, and maps are the best way to capture the physical and conceptual scale of the urban enviornment. 
    
  <br>
  <br>
    
    I am most interested in urban transportation and public spaces, and I currently exercise these interests as an EV programs intern for Clean Cities Georgia  and as an RA for the Mobility Solutions for Better Health project at Georgia State University 
    
    <br>
    <br>
    
    I recieved my Bachelor of Arts in Economics with a minor in Journalism at Georgia State University and am currently acquiring a Master of Interdisciplinary Studies in Urban Studies and a Professional Certificate in Geographic Information Studies at Georgia State University. If you want to read more about my specific projects and work, click <a href="C:\Users\erubi\Desktop\WEBSITE\repositories\EugeneRubinchik-MADA-portfolio\docs\aboutme.html">here</a>. </p>
    
  <br>
  <br>
    
     
    
    <p5> 
    
  <br>
    Graduate Candidate at Georgia State University 
  <br>  
    Research Assistant at Georgia State University
  <br>
    Ev Programs Intern at Clean Cities Georgia 
  </p5>
    
  <br>
  <br>
  <br>
  
  
  <p5> 
    
  <br>
    (He/Him)
  <br>  
    Email: <a href="mailto:rubinchikeugene@gmail.com"> rubinchikeugene@gmail.com
    </a>
  <br>
    Phone: 404-641-1866 
  <br>
    <a href="C:\Users\erubi\Desktop\WEBSITE\repositories\EugeneRubinchik-MADA-portfolio\Eugene Rubinchik Resume 2022 Updated November.pdf" download>
    Check out my Resume </a> </p5>
    
    
    
  <br>
  <br>
    
    
    
    <h4> Roots and Motivation
    </h4>
    <p2> Like many others, my parents came to America with nothing but the clothes on their backs. They left the Soviet Union with my brother and despite all odds, they created an amazing life for me full of experience, culture, and prosperity. 
    
    <br><br>
    
         My background inspires me to seek success in a multitude of ways. My grandfather Solomon grew up in a Jewish village outside of Minsk before being forced to move to St. Petersburg, then referred to as Leningrad. He went to school to become an engineer becoming the first in my family to attend college. My grandmother Fanya cultivated my family's moral code. She always taught me to stay determined and do what is right since pride will outlast possessions. These people who risked everything for me are the reason that I am always hungry to learn while reamining humble. 
         
    <br><br>
    
         My greatest achievment thus far was learning bicycle repair during my undergrad and becomming self-reliant off this skill. I learned invaluable mechanical and organizational skills as I gained more responsibilities at my bicycle shop. I also began viewing the world differently as I interacted with different individuals throughout the bicycle community. Riding bicycles also formed my interest in urban geography which has impacted my life forever. 
         
    <br><br>
        
        I have been interning with Clean Cities Georgia for over a year now. With Clean Cities Georgia, I have grown from working on press releases and flyers to actively engaging with clean energy advocates and stakeholders. My experience analyzing the economic, political, and infrastructural aspects of the clean energy landscape has been a great application of my graduate learning, and I have even been able to apply my mapmaking skills to several projects and presentations. 
    </p2>
    
  </body>

</html>
