<!DOCTYPE html>

<html lang="en">
  
  <body>
  
  <div class="container">
	<div class="top">
    	<ul>
        	<li><a href="#img_1"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Population and Density Change.png"></a></li>
            <li><a href="#img_2"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Savannah.png"></a></li>
            <li><a href="#img_3"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Savannah2.png"></a></li>
            <li><a href="#img_4"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Brunswick.png"></a></li>
            <li><a href="#img_5"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Brunswick2.png"></a></li>
            <li><a href="#img_6"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Rubinchik_Final_Map.jpg"></a></li>
            <li><a href="#img_7"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Graduated PNG.png"></a></li>
           
        </ul>
        <a href="#_1" class="lightbox trans" id="img_1"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Population and Density Change.png"></a>
        <a href="#_2" class="lightbox trans" id="img_2"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Savannah.png"></a>
        <a href="#_3" class="lightbox trans" id="img_3"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Savannah2.png"></a>
        <a href="#_4" class="lightbox trans" id="img_4"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Brunswick.png"></a>
        <a href="#_5" class="lightbox trans" id="img_5"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Brunswick2.png"></a>
        <a href="#_6" class="lightbox trans" id="img_6"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Rubinchik_Final_Map.jpg"></a>
        <a href="#_7" class="lightbox trans" id="img_7"><img src="https://raw.githubusercontent.com/eugenerubinchik/EugeneRubinchik/main/Final%20Maps/Graduated PNG.png"></a>
        
    </div>
</div>

  </body>

</html>